@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&family=Roboto:wght@300;400;500;700&display=swap');

/* ===== BODY GLOBAL ===== */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffffff, #000000); /* amarillo → azul Pokémon */
    scrollbar-width: none;
}


/* ===== HEADER ===== */
.container-header,
.container-links {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1px;
}

/* ===== LINKS ===== */
a {
    color: #ffe031;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: #ffffff;
    border-bottom: 2px solid #ffe031;
}

/* ===== LINK ACTIVO VUE ROUTER ===== */
.router-link-exact-active {
  color: #ffffff;
  border-bottom: 2px solid #ffe031; /* color que quieras */
}

.container-links .router-link-exact-active{
  color: #ffffff;
  border-bottom: 2px solid #ff7043; /* opcional para subrutas */
}
